- if @user.errors.any?
  #error_explanation
    %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
-if flash[:success].present?
  %h1
    =flash[:success]
= form_for @user do |f|
  %p
    = f.label :Name
    %br
    = f.text_field :firstname
  %p
    = f.label :Lastname
    %br
    = f.text_field :lastname
  %p
    = f.label :Email
    %br
    = f.email_field :email
  %p
    = f.label :Password
    %br
    = f.password_field :password, value:''
  %p
    = f.label :Password_confirmation
    %br
    = f.password_field :password_confirmation
    %br
    Avatar
    %br
    = f.file_field :avatar
  %p
    = f.submit "Sing up"