.sidebar_2
  .oblako
    -@user.errors.full_messages.each do |msg| 
      %p 
        = msg
    = form_for @user do |f|
      %p
        = f.label :Name
        %br
        = f.text_field :firstname
      %p
        = f.label :Lastname
        %br
        = f.text_field :lastname
      %p  
        = f.label :Email
        %br
        = f.email_field :email 
      %p  
        = f.label :Password
        %br
        = f.password_field :password
      %p  
        = f.label :Password_confirmation
        %br
        = f.password_field :password_confirmation
      %p
        = f.submit "Sing up"
.clr
%h1 New user

= render 'form'

= link_to 'Back', users_path
