%h1 New Post
= form_for @post,  url: {controller:"posts",action:"create"} do |f|
  %p
    = f.label :title
    %br
    = f.text_field :title 
  %p
    = f.label :content
    %br
    = f.text_area :content 
  %p
    = f.label :photo
    %br
    = f.file_field :photo 
  %p
    sd
    = button_tag 'dfdf', class: "save btn btn-primary", type: 'button'
    %button.btn.btn-primary.pull-right{"data-dismiss" => "modal", type: "button"} Cancel
.clr  