#content
  %h1 Listing posts
  - @posts.each do |post|
    %div[post]
      %b Title:
      = post.title
      %br
      %b Description:
      = post.description
      %br
      %b Content:
      = post.content
      %br
      %b> Author:
      = post.author
      %br
      %b Site:
      = link_to post.site_url
      %br
      .controls
        = link_to 'Show', post
        = link_to 'Edit', edit_post_path(post)
        = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
 
  %br
 
  = link_to 'New Post', new_post_path