!!!
%html
  %head
    %title SocialNetworc
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .header
      Admin Page
    .l
      Notification
      .n1
        Bad_Admin_Page
      .n2
        New_ user
    .l2
      .tabs
        <!-- Это сами вкладки -->
        %ul.tabNavigation
          %li
            = link_to "users_srch", "#users_srch_c", class:""
          %li
            = link_to "Password", "#Password", class:""
          %li
            = link_to "Information", "#third", class:""
        <!-- Это контейнеры содержимого -->    
        #users_srch_c
          = form_for :user do |f|
            %p
              = f.label :search
              %br
              = f.text_field :search 
          #users_srch
            = render partial: "users/user_list"
        #Password
          Nil 
        #third
          Nil       
    = yield
