!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", 
      "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .header
      .panel
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".bs-js-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar 
            %span.icon-bar 
            %span.icon-bar 
          = link_to "Home", root_path, class:"elbc"
        .navbar-collapse.bs-js-navbar-collapse.collapse{style: "height: 1px;"}
          %ul.nav.navbar-nav
            -if false
              %li
                = link_to "Profile", profile_path , class:"boot"
              %li
                = link_to "Sing out", "#" , class:"boot"
            -else
              %li
                = link_to "Sing in", new_session_path , class:"boot"
              %li
                = link_to "Sing up", new_user_path , class:"boot"
        
      .clr
    .sidebar_d
      .sidebar_1
        .oblako
          sidebar
      = yield
    .footer
      %b footer