!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", 
      "data-turbolinks-track" => true                  
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .header
      .panel
        = link_to 'Home', root_path, class:"elbc"
        = link_to 'Profile', profile_path, class:"elbc"
        = link_to 'Sign up', new_user_path, class:"elbc"
      .clr
    .sidebar_d
      .sidebar_1
        .oblako
          sidebar
      = yield
    .footer
      %b footer