!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", 
      "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "my", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body.my
    .header
      .panel.my
        %nav#navbar-example.navbar.navbar-default.my{role: "navigation"}
          .container-fluid
            .navbar-header
              %button.navbar-toggle.collapsed{"data-target" => ".bs-example-js-navbar-collapse", "data-toggle" => "collapse", type: "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{href: "/"} Home
            .navbar-collapse.bs-example-js-navbar-collapse.collapse.my{style: "height: 1px;"}
              %ul.nav.navbar-nav.my
                - if current_user
                  %li.dropdown
                    %a.my{href: "/profile", role: "button"}
                      Profile
                  %li.dropdown
                    = link_to 'Sing out', signout_path, method: :delete
                - else
                  %li.dropdown
                    %a.my{ href: "/sessions/new", role: "button"}
                      Sing in
                  %li.dropdown
                    %a.my{ href: "/users/new", role: "button"}
                      Sing up
      .clr
    .sidebar_d
      .sidebar_1
        .oblako
          = link_to "users", users_path
      = yield
    .footer
      %b footer